<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
<link rel="shortcut icon" href="favicon.ico" >
<title>Kasey E. Barton: Join The Lab</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<link type="text/css" rel="stylesheet" href="js/font-awesome-4.2.0/css/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" href="css/subpages.css?v=2" />
</head>

<body>

<div id="content">

<!--#include virtual="/~kbarton/ssi/links.ssi" -->{% include links.ssi %}

<h1 class="header1"><i class="fa fa-graduation-cap"></i> Join The Lab</h1>

<!--
<table>
  <tr valign="top">
    <td><i class="fa fa-graduation-cap fa-4x" style="color: #006600; font-size: 58px; margin-top: 9px;"></i></td>
    <td><img src="images/titles/title_prospective_students.png" style="margin-left: -4px;" /></td>
  </tr>
</table>
-->

<!--
<h4 class="header3">Postdoc</h4>

<p>A position is available for a highly motivated candidate for a postdoctoral position in Functional Plant Ecology beginning in 2016. The candidate must hold a Ph.D. in Ecology, Botany, or in a field related to the research theme at the time the appointment begins. The primary focus of the position will be to participate in a project examining how functional traits and environmental change (e.g., drought) explain the invasion and dominance of woody species in Hawai&#699;i.  The candidate will have opportunities to participate in ongoing work in the system, to develop independent research in line with the project goals, and to work closely with both the Barton Lab in Hawai&#699;i as well as the research group of <a href="https://www.ufz.de/index.php?en=33878" target="_blank">Dr. Tiffany Knight</a> at the Helmholtz Centre for Environmental Research (<a href="http://www.ufz.de" target="_blank">UFZ</a>) in Germany.</p>
 
<p>Successful candidates will have a strong publication record (or evidence that this will be forthcoming), an interest in the Ecology of invasive plant species, capacity for helping with intense periods of fieldwork and greenhouse research, and the ability to work well in a diverse, collaborative research group. Desired skills include experience collecting and analyzing forest community data, creating phylogenies and conducting phylogenetic analyses, measuring plant physiological traits in field and greenhouse settings, conducting spatial analyses (GIS), conducting simulation modeling, and/or programming in R.</p>
 
<p>To apply, please submit a cover letter, CV, copies of two publications and the names of three potential references to: Kasey E. Barton &lt;<a href="mailto:kbarton@hawaii.edu">kbarton@hawaii.edu</a>&gt;.</p>
 
<p>Review of applications will begin on January 15, 2016. Starting date is negotiable, but preference will be given to candidates who could start by Summer 2016.</p>

<hr class="middivider" />
-->

<h4 class="header3">Students</h4>

<img src="images/people/alumni_undergraduates_03.jpg" style="float: right;" />
<p>I am always looking for interested, enthusiastic students to join my lab. Hawai&#699;i offers unique opportunities to investigate tropical ecology in undergraduate and graduate Botany degree programs, and I particularly encourage creative students with a strong interest in island ecology, plant functional ecology, and native plant conservation to get in touch with me.</p>
<p>Undergraduate students interested in gaining research experience can join the lab through volunteering, BIO 399 Directed Research credit, Undergraduate Research Opportunities, and the Honors Program.</p>
<center><img src="images/hawaii_island_chain.png" height="150" style="margin-top: -10px;" /></center>

<hr/>
<!--#include virtual="/~kbarton/ssi/links.ssi" -->{% include links.ssi %}
<!--#include virtual="/~kbarton/ssi/footer.ssi" -->{% include footer.ssi %}
<!--#include virtual="/~kbarton/ssi/google_analytics.ssi" -->{% include google_analytics.ssi %}
</div> <!-- #content -->
</body>

</html>
