<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
<link rel="shortcut icon" href="favicon.ico" >
<title>Kasey E. Barton: Publications</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="js/cluetip/jquery.cluetip.min.js"></script>
<link type="text/css" rel="stylesheet" href="js/cluetip/jquery.cluetip.css" />
<link type="text/css" rel="stylesheet" href="js/font-awesome-4.2.0/css/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" href="css/subpages.css?v=2" />

<style>
#pubs td {
  padding-bottom: 25px;
}
.pdf {
  white-space: nowrap;
  padding-right: 8px;
}
.number {
  margin: 25px 0px;
  color: #9f282e;
  font-weight: bold;
}
</style>

<script>
$( document ).ready(
  function () {
    $( 'a.clue' ).cluetip(
      {
        activation: 'click',
        arrows: false,
        attribute: 'href',
        closePosition: 'top',
        closeText: '<i class="fa fa-close" style="float: right;"></i>',
        local: false,
        showTitle: false,
        sticky: true,
        titleAttribute: '',
        waitImage: true,
        width: 520
      }
    );

  }
);
</script>

</head>

<body>

<div id="content">

<!--#include virtual="/~kbarton/ssi/links.ssi" -->{% include links.ssi %}

<h1 class="header1"><i class="fa fa-file-pdf-o"></i> Publications</h1>

<table id="pubs" style="margin-top: 30px; width: 97%;">

  <tr>
    <td class="pdf"><a href="pubs/Halpin-McCormick_etal_2025.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">52.</span></td>
    <td>Halpin-McCormick, A., T. M. Maaz, M. B. Kantar, <strong>K. E. Barton</strong>, R. R. Masalia, N. L. Batora, K. Law, and E. J. Kunz. 2025. Species distribution of <i>Cannabis sativa</i>: Past, present and future. <u>PLoS ONE</u> 20(3): e0306007. <a href="https://doi.org/10.1371/journal.pone.0306007" target="_blank">https://doi.org/10.1371/journal.pone.0306007</a>.</td>
  </tr>

  <tr>
    <td class="pdf"></td>
    <td><span class="number">51.</span></td>
    <td>Westerband, A. C. and <strong>K. E. Barton</strong>. 2025. Chapter 12: Investigating the origins and effects of intraspecific trait variation. <i>In</i> <a href="https://shop.elsevier.com/books/plant-functional-traits/kumar/978-0-443-13367-1" target="_blank">Plant Functional Traits</a>. Eds. M. Kumar, R. W. Bussmann, and N. G. Swenson. Elsevier.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Guisado_Chavez_etal_2025.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">50.</span></td>
    <td>Guisado Chavez, J. F., P. Krushelnycky, <strong>K. E. Barton</strong>, and D. R. Drake. 2025. Breeding system and pollination of <i>Dubautia menziesii</i> (Asteraceae), a self-incompatible Hawaiian alpine shrub. <u>Flora</u> 323. <a href="https://doi.org/10.1016/j.flora.2025.152683" target="_blank">https://doi.org/10.1016/j.flora.2025.152683</a>.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_etal_2025.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">49.</span></td>
    <td><strong>Barton, K. E.</strong>, T. Ibanez, P. J. Bellingham, and X. Moreira. 2025. Island plant fire tolerance: functional traits associated with novel disturbance regimes. <u>American Journal of Botany</u>. <a href="https://doi.org/10.1002/ajb2.16465" target="_blank">https://doi.org/10.1002/ajb2.16465</a>.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Koricheva_etal_2025.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">48.</span></td>
    <td>Koricheva, J., <strong>K. E. Barton</strong>, J. A. Felix, A. Cooper, J. Jensen, T. Jucker, and K. Ruom&auml;ki. 2025. Using long-term tree diversity experiments to explore the mechanisms of temporal shifts in forest ecosystem functioning. <u>Oikos</u>. <a href="https://doi.org/10.1111/oik.10872" target="_blank">https://doi.org/10.1111/oik.10872</a>.</td>
  </tr>

  <tr>
    <td class="pdf"></td>
    <td><span class="number">47.</span></td>
    <td><strong>Barton, K. E.</strong>, J. Carpenter, A. Flores, L. Saez Goñalons, and M. Armani. 2024. Spinescence and the island plant defense syndrome. <i>In</i> <a href="https://link.springer.com/book/10.1007/978-3-031-47814-7" target="_blank">Ecology and Evolution of Plant-Herbivore Interactions on Islands</a>. Eds. X. Moreira, L. Abdala-Roberts. Springer.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Bogner_etal_2024.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">46.</span></td>
    <td>Bogner, K. K., W. P. Haines, J. Kim, D. R. Drake, and <strong>K. E. Barton</strong>. 2024. Endemic island plant-herbivore interactions: Kamehameha butterfly (Nymphalidae) and Hawaiian Urticaceae. <u>Biotropica</u> 55: 149-161. <a href="https://doi.org/10.1111/btp.13292" target="_blank">https://doi.org/10.1111/btp.13292</a>.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_2024.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">45.</span></td>
    <td><strong>Barton, K. E.</strong>. 2024. The ontogenetic dimension of plant functional ecology. <u>Functional Ecology</u> 38: 98–113. <a href="https://doi.org/10.1111/1365-2435.14464" target="_blank">https://doi.org/10.1111/1365-2435.14464</a>.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Westerband_etal_2023.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">44.</span></td>
    <td>Westerband, A. C., T. M. Knight, and <strong>K. E. Barton</strong>. 2023. A test of island plant syndromes using resource-use traits. <u>Journal of Systematics and Evolution</u>. <a href="https://doi.org/10.1111/jse.13032" target="_blank">https://doi.org/10.1111/jse.13032</a>.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Walsh_etal_2023.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">43.</span></td>
    <td>Walsh, S. K., D. Wolkis, R. M. Abbriano, and <strong>K. E. Barton</strong>. 2023. Variability in seed salinity tolerance in an island coastal community. <u>Annals of Botany</u>. <a href="https://doi.org/10.1093/aob/mcad129" target="_blank">https://doi.org/10.1093/aob/mcad129</a>.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Satdichanh_etal_2023.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">42.</span></td>
    <td>Satdichanh, M., G. O. D. Gbadamassi, K. Yan, K. W. Tomlinson, <strong>K. E. Barton</strong>, S. E. Crow, L. Winowiecki, T.-G. V&aring;gen, J. Xu, and R. D. Harrison. 2023. Drivers of soil organic carbon stock during tropical forest succession. <u>Journal of Ecology</u> 00: 1-13. <a href="https://doi.org/10.1111/1365-2745.14141" target="_blank">https://doi.org/10.1111/1365-2745.14141</a>.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_and_Fortunel_2023.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">41.</span></td>
    <td><strong>Barton, K. E.</strong> and C. Fortunel. 2023. Island plant functional syndromes and competition with invasive species. <u>Journal of Biogeography</u> 00: 1–13. <a href="https://doi.org/10.1111/jbi.14568" target="_blank">https://doi.org/10.1111/jbi.14568</a>.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_etal_2021.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">40.</span></td>
    <td><strong>Barton, K. E.</strong>, A. C. Westerband, R. Ostertag, E. Stacy, K. Winter, D. R. Drake, L. B. Fortini, C. M. Litton, S. Cordell, P. Krushelnycky, K. Kawelo, K. Feliciano, G. Bennett, and T. Knight. 2021. Hawai&#699;i forest review: synthesizing the ecology, evolution, and conservation of a model system. <u>Perspectives in Plant Ecology, Evolution, and Systematics</u> 52: 125631. <a href="https://doi.org/10.1016/j.ppees.2021.125631" target="_blank">https://doi.org/10.1016/j.ppees.2021.125631</a>.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Westerband_etal_2021b.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">39.</span></td>
    <td>Westerband, A. C., T. M. Knight, and <strong>K. E. Barton</strong>. 2021. Intraspecific trait variation and reversals of trait strategies across key climate gradients in native Hawaiian plants and non-native invaders. <u>Annals of Botany</u> 127: 553-564. (In special issue on "Intraspecific Variation in Plant Functional Traits".)</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Westerband_etal_2021a.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">38.</span></td>
    <td>Westerband, A. C., J. L. Funk, and <strong>K. E. Barton</strong>. 2021. Intraspecific trait variation in plants: a renewed focus on its role in ecological processes. <u>Annals of Botany</u> 127: 397-410. (In special issue on "Intraspecific Variation in Plant Functional Traits".)</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_and_Shiels_2020.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">37.</span></td>
    <td><strong>Barton, K. E.</strong> and A. B. Shiels. 2020. Additive and non-additive responses of seedlings to simulated herbivory and drought. <u>Biotropica</u> 52: 1217-1228.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Westerband_etal_2020.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">36.</span></td>
    <td>Westerband, A. C., L. Bialic-Murphy, L. A. Weisenberger, and <strong>K. E. Barton</strong>. 2020. Intraspecific variation in seedling drought tolerance and associated traits in a critically endangered, endemic Hawaiian shrub. <u>Plant Ecology and Diversity</u> 13: 159-174.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_etal_2020.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">35.</span></td>
    <td><strong>Barton, K. E.</strong>, C. Jones, K. F. Edwards, A. B. Shiels, and T. Knight. 2020. Local adaptation constrains drought tolerance in a tropical foundation tree. <u>Journal of Ecology</u> 108: 1540-1552.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Armani_etal_2020.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">34.</span></td>
    <td>Armani, M., U. M. Goodale, T. Charles-Dominique, <strong>K. E. Barton</strong>, X. Yao, and K. W. Tomlinson. 2020. Structural defence is coupled with the leaf economic spectrum across saplings of spiny species. <u>Oikos</u> 129: 740-752.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Krushelnycky_etal_2020.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">33.</span></td>
    <td>Krushelnycky, P. D., J. M. Felts, R. H. Robichaux, <strong>K. E. Barton</strong>, C. M. Litton, and M. D. Brown. 2020. Clinal variation in drought resistance shapes past population declines and future management of a threatened plant. <u>Ecological Monographs</u> 90: e01398.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Lum_and_Barton_2020.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">32.</span></td>
    <td>Lum, T. and <strong>K. E. Barton</strong>. 2020. Ontogenetic variation in salinity tolerance and ecophysiology of coastal dune plants. <u>Annals of Botany</u> 125: 301-314. (Invited contribution to special issue on "Vulnerability and Management of Coastal Plant Communities in the Face of Global Change".)</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Armani_etal_2019.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">31.</span></td>
    <td>Armani, M., T. Charles-Dominique, <strong>K. E. Barton</strong>, and K. W. Tomlinson. 2019. Developmental constraints and resource environment shape early emergence and investment in spines in saplings. <u>Annals of Botany</u> 124: 1133-1142.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_etal_2019.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">30.</span></td>
    <td><strong>Barton, K. E.</strong>, K. F. Edwards, and J. Koricheva. 2019. Shifts in woody plant defence syndromes during leaf development. <u>Functional Ecology</u> 33: 2095-2104.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Craven_etal_2019.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">29.</span></td>
    <td>Craven, D., T. M. Knight, <strong>K. E. Barton</strong>, L. Bialic-Murphy, and J. M. Chase. 2019. Dissecting macro-ecological and macro-evolutionary patterns of forest biodiversity across the Hawaiian archipelago. <u>Proceedings of the National Academy of Sciences</u> 116: 16436-16441.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_and_Wong_2019.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">28.</span></td>
    <td><strong>Barton, K. E.</strong> and A. Wong. 2019. Plant competition as a mechanism of invasion on islands: revisiting the conclusions of Kuebbing and Nuñez (2016). <u>Biotropica</u> 51: 316-318.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Westerband_etal_2019.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">27.</span></td>
    <td>Westerband, A. C., A. K. Kagawa-Viviani, K. K. Bogner, D. W. Beilman, T. M. Knight, and <strong>K. E. Barton</strong>. 2019. Seedling drought tolerance and functional traits vary in response to the timing of water availability in a keystone Hawaiian tree species. <u>Plant Ecology</u> 220: 321-344.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Craven_etal_2018.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">26.</span></td>
    <td>Craven, D., T. M. Knight, <strong>K. E. Barton</strong>, L. Bialic-Murphy, S. Cordell, C. P. Giardina, T. W. Gillespie, R. Ostertag, L. Sack, J. M. Chase. 2018. OpenNahele: the open Hawaiian forest plot database. <u>Biodiversity Data Journal</u> 6: e28406.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Ochoa-Lopez_etal_2018.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">25.</span></td>
    <td>Ochoa-L&oacute;pez, S., R. Rebollo, <strong>K. E. Barton</strong>, J. Fornoni, and K. Boege. 2018. Risk of herbivore attack and heritability of ontogenetic trajectories in plant defense. <u>Oecologia</u> 187(2): 413-426. (Invited contribution to special issue on "From Plants to Herbivores: Novel Insights into the Ecological and Evolutionary Consequences of Plant Variation".)</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Suissa_and_Barton_2018.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">24.</span></td>
    <td>Suissa, J. and <strong>K. E. Barton</strong>. 2018. Intraspecific and interspecific variation in prickly poppy resistance to non-native generalist caterpillars. <u>Botanical Sciences</u> 96(2): 168-179.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Lurie_etal_2017.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">23.</span></td>
    <td>Lurie, M. H., <strong>K. E. Barton</strong>, and C. C. Daehler. 2017. Pre-damage biomass allocation and not invasiveness predicts tolerance to damage in seedlings of woody species in Hawaii. <u>Ecology</u> 98(12): 3011-3021. (Invited contribution to special issue on "Overcompensation and Plant Tolerance to Herbivory".)</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_and_Boege_2017.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">22.</span></td>
    <td><strong>Barton, K. E.</strong> and K. Boege. 2017. Future directions in the ontogeny of plant defence: understanding the evolutionary causes and consequences. <u>Ecology Letters</u> 20: 403-411.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_2016_AnnalsBotany.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">21.</span></td>
    <td><strong>Barton, K. E.</strong>. 2016. Low tolerance to simulated herbivory in Hawaiian seedlings despite induced changes in photosynthesis and biomass allocation. <u>Annals of Botany</u> 117: 1053-1062.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_2016.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">20.</span></td>
    <td><strong>Barton, K. E.</strong>. 2016. Tougher and thornier: general patterns in the induction of physical defence traits. <u>Functional Ecology</u> 30: 181-187.</td>
  </tr>

  <tr>
    <td class="pdf"></td>
    <td><span class="number">19.</span></td>
    <td><strong>Barton, K. E.</strong>, E. Valkama, H. Vehvil&auml;inen, K. Ruohomaki, T. Knight, and J. Koricheva. 2015. <a href="http://onlinelibrary.wiley.com/doi/10.1111/oik.01663/abstract" target="_blank">Additive and non-additive effects of birch genotypic diversity on arthropod herbivory in a long-term field experiment</a>. <u>Oikos</u> 124: 697-706.<br/><br/><i class="fa fa-newspaper-o"></i> <i>Press:</i> <a href="http://oikosjournal.wordpress.com/2014/12/03/4637/" target="_blank">How plant genetic diversity affects herbivory</a> (Oikos Blog)</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Hoan_etal_2014.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td> 
    <td><span class="number">18.</span></td>
    <td>Hoan, R. P., R. A. Ormond, and <strong>K. E. Barton</strong>. 2014. Prickly poppies can get pricklier: ontogenetic patterns in the induction of physical defense traits. <u>PLoS ONE</u> 9(5): e96796.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_2014_Oecologia.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">17.</span></td>
    <td><strong>Barton, K. E.</strong>. 2014. Prickles, latex and tolerance in the endemic Hawaiian prickly poppy (<a href="tooltips/pua_kala.html" class="clue" onClick="return false;"><i>Argemone glauca</i></a>): variation between populations, across ontogeny and in response to abiotic factors. <u>Oecologia</u> 174: 1273-1281.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_and_Haines_2013.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">16.</span></td>
    <td><strong>Barton, K. E.</strong> and W. P. Haines. 2013. Koa looper caterpillars (<a href="tooltips/koa_moth.html" class="clue" onClick="return false"><i>Scotorythra paludicola</i></a>, Geometridae) have lower fitness on koa (<a href="tooltips/acacia_koa.html" class="clue" onClick="return false"><i>Acacia koa</i></a>, Fabaceae) true leaves than on phyllodes. <u>Proceedings of the Hawaiian Entomological Society</u> 45: 141-147.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Haines_etal_2013.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">15.</span></td>
    <td>Haines, W. P., <strong>K. E. Barton</strong>, and P. Conant. 2013. Defoliation of the invasive tree <i>Falcataria moluccana</i> on Hawaii Island by the native koa looper moth (Geometridae: <a href="tooltips/koa_moth.html" class="clue" onClick="return false"><i>Scotorythra paludicola</a></i>), and evaluation of five fabaceous trees as larval hostplants. <u>Proceedings of the Hawaiian Entomological Society</u> 45: 129-139.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Quintero_etal_2013.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">14.</span></td>
    <td>Quintero, C., <strong>K. E. Barton</strong>, and K. Boege. 2013. The ontogeny of plant indirect defenses. <u>Perspectives in Plant Ecology, Evolution and Systematics</u> 15: 245-254.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_2013.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">13.</span></td>
    <td><strong>Barton, K. E.</strong>. 2013. Ontogenetic patterns in the mechanisms of tolerance to herbivory in <i>Plantago</i>. <u>Annals of Botany</u> 112: 711-720.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_and_Hanley_2013.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">12.</span></td>
    <td><strong>Barton, K. E.</strong> and M. E. Hanley. 2013. Seedling-herbivore interactions: insights into plant defence and regeneration patterns. <u>Annals of Botany</u> 112: 643-650.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_and_Hanley_eds_2013.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">11.</span></td>
    <td><strong>Barton, K. E.</strong> and M. E. Hanley, editors. 2013.  Special Issue: Seedling Herbivory. <u>Annals of Botany</u> 112: 643-765.</td>
  </tr>

  <tr>
    <td class="pdf"></td>
    <td><span class="number">10.</span></td>
    <td>Koricheva, J. and <strong>K. E. Barton</strong>. 2012. Temporal changes in plant secondary metabolite production: patterns, causes and consequences. <i>In</i> <a href="http://www.cambridge.org/aus/catalogue/catalogue.asp?isbn=9780521193269">The Ecology of Plant Secondary Metabolites: From Genes to Global Processes</a>. Eds. G. R. Iason, M. Dicke and S. E. Hartley. Cambridge University Press.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Boege_etal_2011.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">9.</span></td>
    <td>Boege, K., <strong>K. E. Barton</strong>, and R. Dirzo. 2011. Influence of tree ontogeny on plant-herbivore interactions. In Size and Age-Related Changes in Tree Structure and Function, <u>Tree Physiology 4</u>. Eds. F. C. Meinzer, B. Lachenbruch and T. E. Dawson. Springer, New York.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_and_Koricheva_2010.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">8.</span></td>
    <td><strong>Barton, K. E.</strong> and J. Koricheva. 2010. The ontogeny of plant defense and herbivory: characterizing general patterns using meta-analysis. <u>American Naturalist</u> 175(4): 481-493.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Sultan_etal_2009.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">7.</span></td>
    <td>Sultan, S. E., <strong>K. Barton</strong>, and A. M. Wilczek. 2009. Contrasting patterns of transgenerational plasticity in ecologically distinct congeners. <u>Ecology</u> 90: 1831-1839.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_2008.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">6.</span></td>
    <td><strong>Barton, K. E. </strong>2008. Phenotypic plasticity in seedling defense strategies: compensatory growth and chemical induction.  <u>Oikos</u> 117: 917-925.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_2007.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">5.</span></td>
    <td><strong>Barton, K. E.</strong> 2007. Early ontogenetic patterns in chemical defense in <em>Plantago</em> (Plantaginaceae): Genetic variation and trade-offs. <u>American Journal of Botany</u> 94: 56-66.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_and_Bowers_2006.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">4.</span></td>
    <td><strong>Barton, K. E.</strong> and M. D. Bowers. 2006. Neighbor species differentially alter resistance phenotypes in Plantago. <u>Oecologia</u> 150: 442-452.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Barton_etal_2002.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">3.</span></td>
    <td><strong>Barton, K. E.</strong>, N. J. Sanders, and D. M.  Gordon. 2002. The effects of proximity and colony age on interspecific interference competition between the desert ants <em>Pogonomyrmex barbatus</em> and <em>Aphaenogaster cockerelli</em>. <u>American Midland Naturalist</u> 148: 376-382.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Ackerly_etal_2002.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">2.</span></td>
    <td>Ackerly, D. D., C. A. Knight, S. B. Weiss, <strong>K. Barton</strong> and K. P. Starmer. 2002. Leaf size, specific leaf area and microhabitat distribution of chaparral woody plants: contrasting patterns in species level and community level analyses. <u>Oecologia</u> 130: 449-457.</td>
  </tr>

  <tr>
    <td class="pdf"><a href="pubs/Sanders_etal_2001.pdf" target="_blank" onClick="this.blur();"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
    <td><span class="number">1.</span></td>
    <td>Sanders, N. J., <strong>K. E. Barton</strong>, and D. M.  Gordon. 2001. Long-term dynamics of the distribution of the invasive Argentine ant, <em>Linepithema humile</em>, and native ant taxa in northern California. <u>Oecologia</u> 127: 123-130.</td>
  </tr>

</table>

<hr/>
<!--#include virtual="/~kbarton/ssi/links.ssi" -->{% include links.ssi %}
<!--#include virtual="/~kbarton/ssi/footer.ssi" -->{% include footer.ssi %}
<!--#include virtual="/~kbarton/ssi/google_analytics.ssi" -->{% include google_analytics.ssi %}
</div> <!-- #content -->
</body>

</html>
